/* Lexical Editor Styles */

.editor-container {
    border-radius: 3px;
    color: #000;
    position: relative;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.editor-input {
    min-height: 100px;
    resize: none;
    font-size: 14px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 8px 10px;
    caret-color: #444;
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 8px;
    left: 10px;
    font-size: 14px;
    user-select: none;
    white-space: nowrap;
    display: inline-block;
    pointer-events: none;
}

.editor-paragraph {
    margin: 0;
    margin-bottom: 8px;
    position: relative;
}

.editor-paragraph:last-child {
    margin-bottom: 0;
}

.editor-quote {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 16px;
    border-left: 4px solid #ccc;
    font-style: italic;
}

.editor-heading-h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 12px;
}

.editor-heading-h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.editor-heading-h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

.editor-heading-h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

.editor-heading-h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

.editor-list-ol {
    padding: 0;
    margin: 6px 0;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.editor-list-ul {
    padding: 0;
    margin: 6px 0;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.editor-listitem {
    margin: 1px 0;
    padding-left: 16px;
    list-style-position: outside;
    display: list-item;
}

.editor-list-ol .editor-listitem {
    list-style-type: decimal;
}

.editor-list-ul .editor-listitem {
    list-style-type: disc;
}

.editor-nested-listitem {
    list-style-type: circle;
    margin-left: 13px;
}

.editor-text-bold {
    font-weight: bold;
}

.editor-text-italic {
    font-style: italic;
}

.editor-text-underline {
    text-decoration: underline;
}

.editor-text-strikethrough {
    text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
}

.editor-text-code {
    background-color: rgb(240, 242, 245);
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}

.editor-link {
    color: rgb(33, 111, 219);
    text-decoration: none;
}

.editor-link:hover {
    text-decoration: underline;
}

.editor-code {
    background-color: rgb(240, 242, 245);
    font-family: Menlo, Consolas, Monaco, monospace;
    display: block;
    padding: 8px 8px 8px 52px;
    line-height: 1.53;
    font-size: 13px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow-x: auto;
    position: relative;
    tab-size: 2;
}

/* Toolbar Styles */
.toolbar {
    display: flex;
    margin-bottom: 1px;
    background: #fff;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
}

.toolbar button.toolbar-item {
    border: 0;
    display: flex;
    background: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    vertical-align: middle;
}

.toolbar button.toolbar-item:disabled {
    cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
    margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-top: 2px;
    vertical-align: -0.25em;
    display: flex;
    opacity: 0.6;
}

.toolbar button.toolbar-item:disabled i.format {
    opacity: 0.2;
}

.toolbar button.toolbar-item.active {
    background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
    opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
    background-color: #eee;
}

.toolbar .divider {
    width: 1px;
    background-color: #eee;
    margin: 0 4px;
}

/* Code highlighting */
.editor-tokenComment {
    color: slategray;
}

.editor-tokenPunctuation {
    color: #999;
}

.editor-tokenProperty {
    color: #905;
}

.editor-tokenSelector {
    color: #690;
}

.editor-tokenOperator {
    color: #9a6e3a;
}

.editor-tokenAttr {
    color: #07a;
}

.editor-tokenVariable {
    color: #e90;
}

.editor-tokenFunction {
    color: #dd4a68;
}

/* Additional List Styling for Better Display */
div[contenteditable='true'] ul {
    list-style-type: disc;
    margin: 6px 0;
    padding-left: 16px;
}

div[contenteditable='true'] ol {
    list-style-type: decimal;
    margin: 6px 0;
    padding-left: 16px;
}

div[contenteditable='true'] li {
    display: list-item;
    margin: 1px 0;
    padding-left: 3px;
}

div[contenteditable='true'] ul ul {
    list-style-type: circle;
    margin: 1px 0;
    padding-left: 13px;
}

div[contenteditable='true'] ul ul ul {
    list-style-type: square;
    margin: 1px 0;
    padding-left: 13px;
}

/* Ensure proper spacing for paragraphs in editor */
div[contenteditable='true'] p {
    margin: 0;
    padding: 0;
    min-height: 1em;
}

/* Bold text in editor */
div[contenteditable='true'] strong,
div[contenteditable='true'] b {
    font-weight: bold;
}

/* Italic text in editor */
div[contenteditable='true'] em,
div[contenteditable='true'] i {
    font-style: italic;
}

/* Underlined text in editor */
div[contenteditable='true'] u {
    text-decoration: underline;
}
