@use '../../variables' as *;

.action-introWrapper {
    font-family: $font;
    height: 100%;
    display: flex;
    flex-direction: column;

    .head {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand {
            span {
                font-weight: 600;
                font-size: 25px;
                margin-left: 25px;
            }
        }
        .authentication {
            margin-right: 25px;
            display: flex;
            .authenticationButton {
                border: 1px solid $btn-default;
                padding: 10px;
                border-radius: 5px;
                color: $btn-default;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                margin-right: 25px;
                text-decoration: none;
            }
            .authenticationButton:hover {
                background-color: $btn-default;
                color: white;
            }
        }
    }
    .body {
        display: flex;

        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 100px;

        .homeSVG {
            position: absolute;
            right: 0px;
            z-index: 100;
            top: 0px;
            pointer-events: none;
            height: 110%;
        }
        h1 {
            font-size: 3rem;
            line-height: 2.9rem;
            span {
                color: $btn-default;
            }
        }

        ul {
            margin-top: 20px;
            list-style-type: none;
            font-size: 16px;
            color: #707981;
            li {
                display: flex;
                margin-top: 20px;
                align-items: center;
                .numberWrapper {
                    background-color: #e9ecef;
                    width: 40px;
                    height: 40px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    min-width: 40px;
                }
                .numberWrapperGold {
                    // flat ui gold
                    background-color: #f1c40f;
                    color: black;
                    border-radius: 10%;
                    .crownImage {
                        width: 60%;
                        fill: white;
                    }
                }
                span {
                    display: inline-block;
                }
            }
        }
        .action-introBody {
        }
        .footer {
            padding-top: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            ul {
                list-style-type: none;
                li {
                    display: inline-block;
                    margin-right: 22px;
                    a,
                    a:visited {
                        color: #707981;
                        text-decoration: none;
                        font-size: 14px;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#homepage {
    min-height: 100%;
    .head {
        display: flex;
    }
    .head-mobile {
        display: none;
    }
    .body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .intro-head {
            margin: 0px 20%;
            text-align: center;
            p {
                font-size: 0.9em;
                color: grey;
            }
            .intro-light-text {
                font-size: 0.9em;
                color: #694aff;
            }
            .intro-button-selection {
                margin-top: 20px;
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                .light,
                .dark {
                    padding: 10px;
                    border-radius: 5px;
                    color: black;
                    // transparent border
                    border: 1px solid rgba(0, 0, 0, 0);
                    cursor: pointer;
                }
                .dark {
                    background-color: #694aff;
                    color: white;
                }
                .light {
                    background-color: white;
                    color: #694aff;
                    border: 1px solid #694aff;
                }
            }
        }

        .intro-body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .intro-body-head {
            }
            .intro-body-reviews-wrapper {
                height: 600px;
                width: 100%;
                background-color: #373737;
                margin-bottom: 100px;
                display: flex;
                justify-content: center;
                .intro-body-reviews {
                    width: 80%;
                    margin: 0px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    h1 {
                        color: white;
                        font-size: 2.5em;
                        margin-bottom: 20px;
                    }
                    .intro-body-reviews-list {
                        display: flex;
                    }
                    .intro-body-reviews-trustpilot {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-right: 40px;
                        // span child number 1
                        span:nth-child(1) {
                            color: white;
                            font-size: 1.2em;
                            margin-bottom: 10px;
                        }
                        img {
                            margin: 10px 0px;
                        }
                        // span child number 2
                        p {
                            color: white;
                            font-size: 0.8em;
                            margin: 0px;
                        }
                    }
                    .intro-body-reviews-list-item {
                        background-color: #474747;
                        display: flex;
                        flex-direction: column;
                        width: 400px;
                        color: white;
                        justify-content: center;
                        align-items: center;
                        padding: 40px 0px;
                        border-radius: 10px;
                        margin-right: 20px;
                        .review-image {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        .review-fullname {
                        }
                        .review-position {
                        }
                        .review-text {
                            text-align: center;
                        }
                    }
                }
            }

            .intro-body-features-wrapper {
                width: 70%;
                margin: 0px auto;
                .intro-body-features {
                    display: flex;
                    .intro-body-features-left {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .intro-body-features-right {
                        width: 50%;
                        .features-image {
                            width: 95%;
                            transform: translateX(100px);
                        }
                    }
                }
            }
        }

        .home-image {
            width: 70%;
            position: absolute;
            bottom: 0px;
            // center this absolute image

            left: 0;
            right: 0;
            margin: auto;
            bottom: -100px;
            border-radius: 10px;

            border: 4px solid black;
        }
    }
}
