@use '../../components/variables' as *;

.cv6-board {
    width: 21cm;
    min-height: 29.7cm;
    //background-color: red;
    display: flex;
    justify-content: center;
    font-family: $font;
    color: #3b3b3b;
    .cv6-content {
        width: 100%;
        display: grid;
        font-size: 14px;
        grid-template-columns: 2fr 5fr;
        .cv6-left {
            height: 100%;
            // Removed hardcoded background-color - now set dynamically via inline styles

            .cv6-photo {
                width: 100%;
                height: 200px;
                display: flex;
                margin-top: 50px;
                justify-content: center;
                img {
                    width: 140px;
                    height: 160px;
                    border-radius: 10px;
                }
            }
            .cv6-leftSection {
                margin-top: 20px;
                .cv6-languagesItems {
                    .cv6-languagesItem {
                        display: flex;
                        justify-content: space-between;
                        color: white;
                        font-weight: 600;
                        margin-top: 5px;
                        .cv5-languageCircle {
                            width: 15px;
                            height: 15px;
                            background-color: white;
                            border-radius: 20px;
                        }
                    }
                }
                .cv5-leftSectionContent {
                    width: 80%;
                    margin: auto;
                    .cv5-skillsItems {
                        color: white;
                        .cv5-skillItem {
                            .cv5-ratingWrapper {
                                width: 95%;
                                height: 8px;
                                // Removed hardcoded border color - now set dynamically via inline styles
                                padding: 4px;
                                margin-top: 5px;

                                .cv5-rating {
                                    // Removed hardcoded background-color - now set dynamically via inline styles
                                    height: 100%;
                                }
                            }
                        }
                    }
                    .cv5-leftSectionTitle {
                        color: white;
                        padding-bottom: 8px;
                        margin-bottom: 20px;
                        span {
                            font-size: 20px;
                            text-transform: uppercase;
                        }
                        // Removed hardcoded border color - now set dynamically via inline styles
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .cv5-contactItems {
                        ul {
                            list-style-type: none;
                            margin: 0px;
                            padding: 0px;
                            color: white;
                            li {
                                margin: 0px;
                                .cv5-contactItem {
                                    display: flex;
                                    margin-top: 10px;
                                    img {
                                        width: 20px;
                                        object-fit: contain;
                                    }
                                    span {
                                        font-size: 12px;
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } ///cv-left
        .cv5-right {
            .cv5-rightContent {
                width: 90%;
                margin: auto;
                color: black !important;
                padding-top: 50px;
                .cv5-rightSectionTitle {
                    color: black;
                    span {
                        font-size: 20px;
                        // Removed hardcoded color - now set dynamically via inline styles
                    }
                    font-weight: 800;
                }
                // Head
                .cv5-rightHead {
                    display: flex;
                    flex-direction: column;
                    font-size: 22px;
                    margin-bottom: 10px;
                    .cv5-name {
                        font-weight: 700;
                        font-size: 40px;
                        // Removed hardcoded color - now set dynamically via inline styles
                    }
                } /// head
                .cv5-summary {
                    p {
                        font-size: 11px;
                        color: rgb(82, 82, 82);
                    }
                } /// Summary
                .cv5-experience {
                    .cv5-jobItem {
                        margin-bottom: 10px;
                        .cv5-jobTitle {
                            font-weight: 600;
                        }
                        .cv5-jobDate {
                            font-size: 11px;
                        }
                        p {
                            font-size: 11px;
                            margin: 0px;
                            margin-top: 5px;
                            color: rgb(82, 82, 82);
                        }
                    }
                }
            }
        }
    }
}

/* Rich Text Support for CV6 */
.cv6-board {
    // Rich text formatting in summary
    .cv5-summary p {
        strong,
        b {
            font-weight: bold;
        }
        em,
        i {
            font-style: italic;
        }
        u {
            text-decoration: underline;
        }
        ul {
            list-style-type: disc;
            margin: 6px 0;
            padding-left: 1em;
            li {
                display: list-item;
                margin: 0.1em 0;
                padding-left: 0.2em;
            }
            ul {
                list-style-type: circle;
                margin: 1px 0;
                padding-left: 0.8em;
            }
        }
        ol {
            list-style-type: decimal;
            margin: 6px 0;
            padding-left: 1em;
            li {
                display: list-item;
                margin: 0.1em 0;
                padding-left: 0.2em;
            }
            ol {
                list-style-type: lower-alpha;
                margin: 1px 0;
                padding-left: 0.8em;
            }
        }
    }

    // Rich text formatting in job descriptions
    .cv5-experience .cv5-jobItem p {
        strong,
        b {
            font-weight: bold;
        }
        em,
        i {
            font-style: italic;
        }
        u {
            text-decoration: underline;
        }
        ul {
            list-style-type: disc;
            margin: 6px 0;
            padding-left: 1em;
            li {
                display: list-item;
                margin: 0.1em 0;
                padding-left: 0.2em;
            }
            ul {
                list-style-type: circle;
                margin: 1px 0;
                padding-left: 0.8em;
            }
        }
        ol {
            list-style-type: decimal;
            margin: 6px 0;
            padding-left: 1em;
            li {
                display: list-item;
                margin: 0.1em 0;
                padding-left: 0.2em;
            }
            ol {
                list-style-type: lower-alpha;
                margin: 1px 0;
                padding-left: 0.8em;
            }
        }
    }
}
